{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="scans-table">
                <thead>
                <tr>
                    <th>Site</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{ site.name }}</td>
                        <td>
                            <a href="/site/{{ site.name|url_encode|lower }}" class="btn btn-success">Radios</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}